html, body {
    max-width: 100%;
    overflow-x: hidden;
}

[data-title] {
  font-size: 30px; /*optional styling*/
  position: relative;
}

[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: -70px;
  left: 10px;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 1px;
  background: #000;
  color: #fff;
  font-size: 20px;
  font-family: 'myfont';
  white-space: nowrap;
}

/* END OF RESUME BUTTON*/

[data-title2] {
  font-size: 30px; /*optional styling*/
  position: relative;
}

[data-title2]:hover::before {
  content: attr(data-title2);
  position: absolute;
  bottom: -70px;
  left: 7px;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 1px;
  background: #000;
  color: #fff;
  font-size: 20px;
  font-family: 'myfont';
  white-space: nowrap;
}

/* END OF LINKEDIN BUTTON */

[data-title3] {
  font-size: 30px; /*optional styling*/
  position: relative;
}

[data-title3]:hover::before {
  content: attr(data-title3);
  position: absolute;
  bottom: -70px;
  left: 20px;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 1px;
  background: #000;
  color: #fff;
  font-size: 20px;
  font-family: 'myfont';
  white-space: nowrap;
}

/* END OF EMAIL BUTTON */

@font-face {
    font-family: 'myfont'; /*a name to be used later*/
    src: url('./Fonts/CircularStd-Medium.otf'); /*URL to font*/
}

@font-face {
    font-family: 'myfont2'; /*a name to be used later*/
    src: url('./Fonts/CircularStd-Book.otf'); /*URL to font*/
}

#border {
    color: #F74835;
}

body {
    font-family: 'myfont2', CircularStd-Medium;
    font-size: 25px;
    padding:0px;
    margin:0px;
    max-width:100vw;
    overflow-x:hidden;
    scroll-behavior: smooth;
}
#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: white;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 0.56s infinite linear;
    width:50px;
    height:50px;
    border:12px solid rgb(247, 72, 53);
    border-bottom:12px solid #fff;
    border-radius:50%;
    margin:0;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}



header {
    width:92vw;
    padding:6vh 4vw;
    position:fixed;
    font-weight:bold;
    background:transparent;
    color:#fff;
    transition:0.4s ease-in-out;
    z-index:2;
}

header table {
    width:100%;
}
#logo table tr td  {
    width:20%;
}
#navigation {
    width:80%;
}
#magnify {
    width:100vw;
    height:100vh;
    background:rgba(0, 0, 0, 0.92);
    position:fixed;
    z-index:4;
    display:none;
    flex-direction: column;
    justify-content:center;
}
#magnify h1 {
    position:absolute;
    top:0;
    right:0;
    margin:20px 40px;
    color:#fff;
    transition:0.4s ease-in-out;
}
#magnify h1:hover{
    color:rgb(247, 72, 53);
    cursor:pointer;
}
#img_here {
    width:90%;
    height:90%;
    background-size:contain !important;
    background-repeat:no-repeat !important;
    margin:0px auto;
}
#logo {
    font-size:40px;
    color:rgb(247, 72, 53);
    width:50%;
}
#navigation {
    text-align:right;
}
#navigation a {
    color:inherit;
    font-size: 30px; /*hello*/
    text-decoration:none;
    padding:5px 10px; /*underline padding*/
    border-bottom:2px solid transparent;
    margin-left:4vw;
    transition:0.4s ease-in-out;
}
#navigation a:hover{
    border-bottom:2px solid #fff;
}
#top_part {
    width:100%;
    border:2vh solid #fff;
}
#top_part tr td{
    width:50%;
}
#about {
    width:100% !important;
    height:100vh; /*spacing of the gif */
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:left;
    padding:0px 8%;
}
#about h1 {
    font-family: 'myfont';
    font-size:80px; /*Imagine. Discover. Create.*/
    word-wrap:break-word;
}
#about table {
    width:70%;
    margin-top:4vh;
}
#about table tr td {
    width:20% !important;
    text-align:left;
}
.social {
    color:rgb(247, 72, 53);
    font-size:50px;
    padding:20px 24px;
    border-radius:50%;
    background:transparent;
    transition:0.4s ease-in-out;
    font-weight:bold;
    margin:0px 8px;
}

.socialize {
    color:rgb(247, 72, 53);
    font-size:50px;
    padding:20px 18px;
    border-radius:50%;
    background:transparent;
    transition:0.4s ease-in-out;
    font-weight:bold;
    margin:0px 8px;
}

.socialize:hover { 
    cursor: pointer;
    color:#fff;
    background:rgb(247, 72, 53);
    box-shadow:0px 10px 30px rgba(247, 72, 53 ,0.8);
}

.socialize2 {
    color:rgb(247, 72, 53);
    font-size:50px;
    padding:20px 21px;
    border-radius:50%;
    background:transparent;
    transition:0.4s ease-in-out;
    font-weight:bold;
    margin:0px 8px;
}

.socialize2:hover { 
    cursor: pointer;
    color:#fff;
    background:rgb(247, 72, 53);
    box-shadow:0px 10px 30px rgba(247, 72, 53 ,0.8);
}

.social:hover { 
    cursor: pointer;
    color:#fff;
    background:rgb(247, 72, 53);
    box-shadow:0px 10px 30px rgba(247, 72, 53 ,0.8);
}
.btn_one {
    font-size:30px;
    font-family: 'myfont';
    color:rgb(247, 72, 53);
    background:#fff;
    border:3px solid rgb(247, 72, 53);
    padding:8px 40px;
    width:35%;
    border-radius:80px;
    font-weight:bold;
    margin:2vh 0px;
    transition:0.4s ease-in-out;
}
.btn_one:hover {
    box-shadow:0px 10px 30px rgba(247, 72, 53, 0.8);
    cursor:pointer;
    color:#fff;
    background:rgb(247, 72, 53);
}
#rightImage {
    width:auto;
    height:auto;
    background:url("./Website Images/m2.gif") center center;
    background-repeat:no-repeat;
}
#work {
    width:80vw;
    padding:0vh 4vw;
    font-weight:bold;
}
#work h1 {
    font-family: 'myfont';
    border-bottom:4px solid rgb(247, 72, 53);
    width:45%; /*underline*/
    font-size:50px;
}

#work h2 {
    width:45%; /*underline*/
    font-size:30px;
    color: #F74835;;
}

#photos {
    width:100%;
    columns:3;
    column-gap:4%;
    z-index:1;
    transition:0.4s ease-in-out;
}
#photos img {
    width:100%;
    height:auto;
    margin:4.5% 0px;
    transition:0.4s ease-in-out;
}
#photos img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
#bio {
    width:92vw;
    padding:6vh 4vw;
}
#bio h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(247, 72, 53);
    width:40%;
}
#contact {
    width:92vw;
    padding:6vh 4vw;
}
#contact h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(247, 72, 53);
    width:40%;
}
#contact table {
    width:100%;
}
#contact table tr td {
    width:50%;
}
#inner_div table{
    width:100%;
}
#inner_div table tr td{
}
#inner_table tr td{
    padding:10px 20px !important;
}

#address {
    position:relative;
    top:-25px;
    left:30px;
}
#footer {
    width:100%;
    padding:10vh 0px;
    text-align:center;
    font-weight:bold;
}
#footer a {
    color:rgb(247, 72, 53);
    text-decoration:none;
}
::placeholder {
    color:#000;
}
button:focus {
    outline:none;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0,0.8); 
}

/* Mobile */

@media (max-width: 1000px){
    #photos {
    columns:3;
    column-gap: 5%;
    }
    #photos img {
        margin:2% 0px;
    }
    #photos img:hover {
        transform: scale(1);
        cursor: pointer;
    }
    #rightImage {
        display:none;
    }
    #top_part {
        border:0px;
    }
    #top_part tr td{
        width:100%;
        text-align:center;
    }
    #about {
        width:92% !important;
        height:75vh;
        padding-top:20vh !important;
        text-align:center;
        padding:0px 4%;
    }
    #about table {
        width:100%;
        margin-top:6vh;
    }
    #about table tr td {
        text-align:center;
    }
    .btn_one {
    padding:6px 30px;
    font-size: 20px;
    width:100%; /* Test 1 to size 30 */
    margin:4vh auto;
    box-shadow:0px 10px 20px rgba(247, 72, 53, 0.8);
    background:rgb(247, 72, 53);
    color:#fff;
    }
    .btn_one:hover {
        box-shadow:0px 10px 40px rgba(247, 72, 53, 0.8);
        cursor:pointer;
    }
    #contact table tr td {
        width:100%;
        display:block;
    }
    #inner_table tr td{
        padding:10px 0px !important;
    }
    #contact form input {
        width:90%;
    }
    #contact form textarea {
        width:90%;
    }
    #work h1 {
        width:19%;
    }
    #bio h1 {
        width:25%;
    }
    #bio {
        font-size: 17px;
    }
    #contact h1 {
        width:33%;
    }
    header {
        width:96vw;
        background:#fff;
        padding:2vh 2vw;
        position:absolute;
    }
    #header table tr td {
        width:100%;
        display:block;
        text-align:center;
        padding:15px 0px;
    }
    #navigation a {
        display: none;
    }

    .videoWrapper {     /*FEBREZE*/
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    }

    .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

     .videoWrapper2 {   /*SPOTIFY*/
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    }

    .videoWrapper2 iframe {
    position: absolute;
    padding-top: 35px; /* PADDING BETWEEN FIRST AND SECOND VIDEO */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
}